.register {
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
    letter-spacing: 1.3px;
    position: relative;
  }
  
  label {
    text-align: left;
  }
  
  .alert {
    background-color:blueviolet;
    padding: 10px 0;
    text-align: center;
    color: white;
    border-radius: 5px;
    position: fixed;
    top: 0;
    opacity: 0.8;
    box-shadow: 2px 2px 4px grey;
    width: 39.5%;
  }
  
  .register > input {
    margin: 20px auto;
    display: block;
    width: -webkit-fill-available;
    padding: 10px;
    font-size: 20px;
    border: 2px solid brown;
    border-radius: 5px;
    color:green;
    margin-top: 5px;
  }
  
  input:focus {
    outline: none;
    background-color: #ddf3f8;
  }
  
  .register > input[type="submit"] {
    margin-top: 30px;
    color:brown;
    background-color: white;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: brown;
    color: white;
  }
  
  .register > h1 {
    font-size: 3.5rem;
    margin-bottom: 10px;
    text-align: center;
    color:brown;
  }
  
  .register > p {
    font-size: 20px;
  }
  
  .blob1 {
    position: absolute;
    width: 400px;
    top: -10%;
    left: -60%;
  }
  
  .blob2 {
    position: absolute;
    width: 400px;
    bottom: -30%;
    right: -50%;
  }
  
  @media screen and (max-width: 800px) {
    .register {
      overflow: hidden;
    }
  }
  
  @media screen and (max-width: 600px) {
    .blob1,
    .blob2 {
      display: none;
    }
  }